<h3 class="text-blue-500 font-bold">Tips</h3>
<ul>
  <li>Cada grupo puede encontrar su enrutador en la carpeta routes</li>
  <li>En la carpeta views podran encontrar una carpeta para cada grupo donde pueden crear las vistas que consideren necesarias</li>
  <li>En la carpeta views hay una carpeta llamada partials de ahi pueden sacar </li>
  <li>En cada enrutador hay un array llamado data, ese puede ser usado para almacenar y consultar la iformación</li>
  <li>Para la autenticación pueden hacer uso de las rutas del router auth y del middleware jwt</li>
  <li><strong>Solo hacer cambios en las carpetas de cada grupo</strong></li>
  <li><strong>No modificar nada en index.js</strong></li>
</ul>