<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head') %>
  <title>Practica Node JS</title>
</head>
<body>
    <div class="container flex mx-auto">
        <h1>
            Bienvenido a comandos.
        </h1>
        <li>
            <ul>/get + nombre del barrio</ul>
            <ul>/post +json hoo1 y hood2 para comparar barrios</ul>
            <ul>/post +json nuevo varrio con hood description y value</ul>
        </li>
    </div>

    
</body>
</html>